.canvasDiv {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  border: solid 3px black;
  border-radius: 5px;
  box-shadow: 5px 15px 10px rgba(153, 153, 153, 0.274);
}
.hiddenLink {
  display: none;
}

.nextKeyboard {
  margin: 20px;
  width: 330px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: black 3px solid;
  border-radius: 45px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.toHome {
  margin: 10px auto;
  width: 330px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: black 3px solid;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);

  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.next {
  width: 100%;
}
.galI {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: rgb(0, 0, 0) 2.5px solid;
  box-shadow: 0px 3px 4px rgba(153, 153, 153, 0.274);
}
.gal {
  margin: 3px;
}
.galT {
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  margin-top: 2px;
  font-weight: 700;
}
.horizontal_scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 12px 8px;
  display: flex;
  display: -ms-flexbox;
  margin-top: 0px;
}

.horizontal_scroll > li {
  width: 100%;
  min-width: 140px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .horizontal_scroll > li {
    min-width: inherit;
    margin-top: 0px;
  }
}

.horizontal_scroll > li:not(:last-child) {
  margin-right: 5px;
  margin-top: 0px;
}

.horizontal_scroll > li:last-child {
  padding-right: 5px;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .horizontal_scroll > li:last-child {
    padding-right: 0;
    margin-top: 0px;
  }
}

.horizontal_scroll img {
  vertical-align: bottom;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.header {
  display: flex;
  flex-direction: row;
}

.link {
  text-decoration-line: none;
}
.keyboardI {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: black 2.5px solid;
}
.keyboard {
  width: 55px;
  display: flex;
  flex-direction: column;
}
.flexContents {
  display: flex;
  bottom: 10%;
  width: 100%;
  margin: 10px auto;
  justify-content: center;
}
.changeKeyboard {
  background-color: rgb(255, 255, 255);
  width: 10%;
  line-height: 275px;
  font-size: x-large;
  font-weight: bold;
}
.inputImages {
  width: 65px;
  height: 65px;
  border: none;
}
.inputImagesBLank {
  width: 65px;
  height: 65px;
  border: none;
}

.imageFolder {
  display: inline-block;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.imageSave {
  margin: 40px 20px;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: #2ee59d;
  color: #fff;
  border: none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);

  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.imageClear {
  margin: 40px 20px;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: #e52e59;
  color: #fff;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonAdd {
  margin: 40px 20px;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bold;
  background-color: #2ee59d;
  box-shadow: 3px 3px 2px rgba(46, 229, 157, 0.15);
  color: #fff;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.buttonClear {
  margin: 40px 20px;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
  background-color: #e52e59;
  color: #fff;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);

  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.buttonNext {
  margin: 20px;
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
  border: #2dcf8e 3px solid;
  background-color: #ffff;
  color: #2dcf8e;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);

  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.images {
  border: rgb(0, 0, 0) 3px solid;
  border-radius: 10px;
  padding: 2px;
  margin: 20px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}

.buttonBox {
  width: 80%;
}
.hiraganaButton {
  background-color: #fff;

  border: rgb(0, 0, 0) 3px solid;
  border-radius: 3px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-size: large;
  height: 60px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);

  width: 60px;
  margin: 6px;
  cursor: pointer;
}
.hiraganaButtonList {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
  border: none;
  font-weight: 600;
  height: 50px;
  width: 50px;
  box-shadow: 3px 3px 3px rgba(77, 63, 63, 0.436);

  margin: 1px 10px;
  font-size: large;
  margin-top: 40px;
}
